

section{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border-style: solid;
    background-color: rgb(90, 121, 164);
}

body{
    text-align: center;
    background-color: rgb(212, 175, 55)
}
ul{
    display: inline;
    text-align: center;
    align-items: center;
    margin-right: 30px;

}

.facts{
    display: flex;
    margin-bottom: 20px;
}



img{
    max-height: 250px;
    margin-top: 20px;
}